.registration-form,
.login-form,
.login-show,
.register-show {
    width: 80vw;
    max-width: 30rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .login-message,
    .register-message {
        align-self: center;
        margin: 0;
    }

    .name-wrapper {
        display: flex;
        gap: 0.8rem;

        .inputField {
            width: 100%;
        }
    }

    .few-more-details,
    .passwords,
    .submit-btn {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .input {
        width: 100%;
        display: flex;
        justify-content: center;

        .inputField {
            width: 100%;
            max-width: 25rem;
        }
    }

    .submit-btn {
        align-self: center;
        width: 10rem;
        margin-top: 1.5rem;
    }
}

.login-show,
.register-show {
    margin-top: 5rem;
}