.registration-form {
    width: 40vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .name-wrapper {
        display: flex;
        gap: 0.8rem;
    }

    .few-more-details, .passwords {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}