.services-provider {
    // 
}

.services-provider.empty {
    height: 100%;
    width: 100%;
    position: relative;

    &::after {
        height: 90vh;
        width: 100%;
        content: "Click on the + icon to add a service";
        font-size: 1.5rem;
        opacity: 0.5;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}